.panel-list-button {
    display: flex;
}
.uyendo {
    background-image: url(../images/bg.jpg);
    background-size: 130% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/line.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
    }
    &.none-border {
        &::before {
            display: none;
        }
    }
}
img {
    width: 100%;
}

.step {
    display: flex;
}
.step-number {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
    &.active {
        z-index: 5;
        opacity: 1;
    }
}
.logo {
    max-width: 18%;
    margin: 0 auto;
}
.left {
    width: 41%;
}
.right {
    text-align: center;
    position: relative;
    max-width: 40%;
    height: 50vh;
    transform: translateY(-25%);
}
.award {
    max-width: 50%;
    position: absolute;
    left: 50%;
    bottom: 14%;
    transform: translateX(-50%);
}
.main-content {
    .wrap {
        display: none;
        &.active {
            display: flex;
            justify-content: center;
        }
    }
}
.button-start {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 27%;
    button {
        cursor: pointer;
        border: none;
        font-weight: bold;
    }
}

.step-2-title {
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 0.25em;
}
.button-custom {
    max-width: 100%;
    margin: 30px 0 0;
    position: relative;
    z-index: 5;
    padding: 16px 80px;
    font-size: 48px;
    width: auto !important;
    line-height: normal;
    margin-top: 40px !important;
}
.step-2-logo {
    max-width: 20%;
    margin: 0 auto;
    margin-bottom: 4%;
}
.slot__outer {
    height: auto;
    background: none;
    box-shadow: none;
    // width: 80%;
}
.slot__inner {
    background: linear-gradient(180deg, #ffffff73 0%, #ffffff21 100%);
    padding: 1rem;
    border-radius: 1.75rem;
    height: 150px;
    overflow: hidden;
}
.slot__inner .reel {
    height: 100%;
    background: transparent;
}
.slot__inner-wrap {
    border-radius: 1rem;
    position: relative;
    background: linear-gradient(180deg, #ffffff8a 0%, #ffffff29 100%);
    height: 100%;
    overflow: hidden;
}
.control-group{
    right: 24px !important;
}
.control-group .icon-button{
    margin: 0 auto !important;
}